extends ../layout

block content
	h2 About
	
	p This registry was established to help foster WebPipe development and promote the creation of new blocks, frameworks, and applications. 
	
	p Contact us at <a href="mailto:registry@webpipes.org">registry@webpipes.org</a