extends ../layout

block content
	p This registry exists as place for developers to discover published WebPipes and share their own with the community.

	p WebPipes are required to conform to the draft <a href="https://github.com/webpipes/spec">WebPipe Specification</a>.
	
	p Submit a WebPipe via cURL as follows:
	
	pre
		code curl -i -X POST -d 'url=http://block-endpoint' http://registry.webpipes.org/blocks

	p View the complete <a href="https://github.com/webpipes/registry.webpipes.org">Registy API</a>.

	p Contact us at <a href="mailto:registry@webpipes.org">registry@webpipes.org</a>